{% extends "../layout/base_layout.twig" %}

{% set page_name = '' %}

{% block content %}



{#    <div class="cases active" >#}

{#        <div id="pdf">#}
{#            <div class="swiper">#}
{#                <!-- Additional required wrapper -->#}

{#                <div class="swiper-wrapper" >#}

{#                    <div class="swiper-slide" {% verbatim %}v-for="item in info"{% endverbatim %}>#}
{#                        <div class="window window-js-2">#}
{#                            <div class="window-header">#}
{#                                <div class="window-action">#}
{#                                    <button class="window-action-item window-action-item-close"></button>#}
{#                                    <!-- /.window-action-item -->#}
{#                                    <button class="window-action-item"></button>#}
{#                                    <!-- /.window-action-item -->#}
{#                                    <button class="window-action-item"></button>#}
{#                                    <!-- /.window-action-item -->#}
{#                                </div>#}
{#                                <!-- /.window-action -->#}
{#                            </div>#}
{#                            <!-- /.window-header -->#}
{#                            <div class="window-body">#}
{#                                <div class="cases-item">#}
{#                                    {% verbatim %}<embed :src="item.pdf" width="1240" height="700">{% endverbatim %}#}
{#                                </div>#}
{#                                <!-- /.cases-item -->#}
{#                            </div>#}
{#                            <!-- /.window-body -->#}
{#                        </div>#}
{#                        <!-- /.window -->#}
{#                    </div>#}
{#                    <!-- /.swiper-slide -->#}

{#                </div>#}
{#                <!-- If we need pagination -->#}

{#                <!-- If we need navigation buttons -->#}
{#                <div class="swiper-button-prev">#}
{#                    <svg width="45" height="24" viewBox="0 0 45 24" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                        <g clip-path="url(#clip0_329_3787)">#}
{#                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.0484 11.3718C9.42314 11.3718 15.6 1.0505 15.6631 0.945661C15.84 0.645661 16.2252 0.54524 16.5284 0.723345C16.8252 0.900187 16.9263 1.28671 16.7495 1.58734C16.541 1.94103 12.5684 8.55745 6.45472 11.3718H42.7326C43.08 11.3718 43.3642 11.6541 43.3642 12.0033C43.3642 12.352 43.08 12.6349 42.7326 12.6349H6.45472C12.5684 15.4492 16.541 22.0657 16.7495 22.4193C16.9263 22.72 16.8252 23.1071 16.5284 23.284C16.2252 23.4608 15.84 23.3604 15.6631 23.061C15.6 22.9562 9.42314 12.6349 1.0484 12.6349C0.701037 12.6349 0.416826 12.352 0.416826 12.0033C0.416826 11.6541 0.701037 11.3718 1.0484 11.3718Z" fill="#010101"/>#}
{#                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.0484 11.3718C9.42125 11.3718 15.6006 1.0505 15.6619 0.945661C15.8394 0.645661 16.2271 0.54524 16.5278 0.723345C16.8271 0.900187 16.9276 1.28671 16.7507 1.58734C16.5417 1.94103 12.5652 8.55745 6.45346 11.3718H42.7326C43.0812 11.3718 43.3642 11.6541 43.3642 12.0033C43.3642 12.352 43.0812 12.6349 42.7326 12.6349H6.45346C12.5652 15.4492 16.5417 22.0657 16.7507 22.4193C16.9276 22.72 16.8271 23.1071 16.5265 23.284C16.2259 23.4608 15.8394 23.3604 15.6619 23.061C15.6006 22.9562 9.42125 12.6349 1.0484 12.6349C0.699773 12.6349 0.416826 12.352 0.416826 12.0033C0.416826 11.6541 0.699773 11.3718 1.0484 11.3718Z" stroke="#010101"/>#}
{#                        </g>#}
{#                        <defs>#}
{#                            <clipPath id="clip0_329_3787">#}
{#                                <rect width="44.2105" height="24" fill="white" transform="matrix(-1 0 0 1 44.2104 0)"/>#}
{#                            </clipPath>#}
{#                        </defs>#}
{#                    </svg>#}
{#                </div>#}
{#                <div class="swiper-button-next">#}
{#                    <svg width="45" height="24" viewBox="0 0 45 24" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                        <g clip-path="url(#clip0_329_3781)">#}
{#                            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.162 11.3718C34.7873 11.3718 28.6105 1.0505 28.5473 0.945661C28.3705 0.645661 27.9852 0.54524 27.682 0.723345C27.3852 0.900187 27.2841 1.28671 27.461 1.58734C27.6694 1.94103 31.642 8.55745 37.7557 11.3718H1.47783C1.13046 11.3718 0.846252 11.6541 0.846252 12.0033C0.846252 12.352 1.13046 12.6349 1.47783 12.6349H37.7557C31.642 15.4492 27.6694 22.0657 27.461 22.4193C27.2841 22.72 27.3852 23.1071 27.682 23.284C27.9852 23.4608 28.3705 23.3604 28.5473 23.061C28.6105 22.9562 34.7873 12.6349 43.162 12.6349C43.5094 12.6349 43.7936 12.352 43.7936 12.0033C43.7936 11.6541 43.5094 11.3718 43.162 11.3718Z" fill="#010101"/>#}
{#                            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.162 11.3718C34.7892 11.3718 28.6098 1.0505 28.5486 0.945661C28.3711 0.645661 27.9833 0.54524 27.6827 0.723345C27.3833 0.900187 27.2829 1.28671 27.4597 1.58734C27.6688 1.94103 31.6452 8.55745 37.757 11.3718H1.47783C1.1292 11.3718 0.846252 11.6541 0.846252 12.0033C0.846252 12.352 1.1292 12.6349 1.47783 12.6349H37.757C31.6452 15.4492 27.6688 22.0657 27.4597 22.4193C27.2829 22.72 27.3833 23.1071 27.6839 23.284C27.9846 23.4608 28.3711 23.3604 28.5486 23.061C28.6098 22.9562 34.7892 12.6349 43.162 12.6349C43.5107 12.6349 43.7936 12.352 43.7936 12.0033C43.7936 11.6541 43.5107 11.3718 43.162 11.3718Z" stroke="#010101"/>#}
{#                        </g>#}
{#                        <defs>#}
{#                            <clipPath id="clip0_329_3781">#}
{#                                <rect width="44.2105" height="24" fill="white"/>#}
{#                            </clipPath>#}
{#                        </defs>#}
{#                    </svg>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /#pdf -->#}
{#    </div>#}
{#    <!-- /.cases -->#}

{#    <div id="pdf">#}
{#        <ul>#}
{#            <li {% verbatim %}v-for="item in info"{% endverbatim %}>#}
{#                {% verbatim %}{{ item.pdf }}{% endverbatim %}#}
{#                {% verbatim %}<embed :src="item.pdf" width="1240" height="700">{% endverbatim %}#}
{#                {% verbatim %}<iframe :src="{{ item.pdf }}" width="1240" height="700" type="application/pdf" ></iframe>{% endverbatim %}#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#    <!-- /.pdf -->#}




{% endblock %}
