<div class="desktop">
    <div class="container-fluid">

        <div class="desktop-grid">
            <div class="desktop-grid-row">
                <div class="desktop-grid-item">
                    <div class="folder folder-team">
                        <div class="folder-ico">
                            <img src="/src/img/design/icons/folder.png" srcset="/src/img/design/icons/folder@2x.png 2x" alt="img">
                        </div>
                        <!-- /.folder-ico -->
                        <div class="folder-title">
                            Команда
                        </div>
                        <!-- /.folder-title -->
                    </div>
                    <!-- /.folder -->
                </div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item desktop-grid-item_cases">
                    <div id="casesFolderAnimation"></div>
                    <div class="folder folder-cases">
                        <div class="folder-ico">
                            <img src="/src/img/design/icons/folder.png" srcset="/src/img/design/icons/folder@2x.png 2x" alt="img">
                        </div>
                        <!-- /.folder-ico -->
                        <div class="folder-title">
                            Кейсы
                        </div>
                        <!-- /.folder-title -->
                    </div>
                    <!-- /.folder -->
                </div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item">

                </div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item">
                    <div class="folder folder-awards">
                        <div class="folder-ico">
                            <img src="/src/img/design/icons/folder.png" srcset="/src/img/design/icons/folder@2x.png 2x" alt="img">
                        </div>
                        <!-- /.folder-ico -->
                        <div class="folder-title">
                            Награды
                        </div>
                        <!-- /.folder-title -->
                    </div>
                    <!-- /.folder -->
                </div>
                <!-- /.desktop-grid-item -->
            </div>
            <!-- /.desktop-grid-row -->
            <div class="desktop-grid-row">
                <div class="desktop-grid-item"></div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item"></div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item">
                    <a {% verbatim %} v-bind:href="info.file_mobile"{% endverbatim %} target="_blank" id="presentation" class="folder">
                        <div class="folder-ico">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="60" height="60" rx="14" fill="#6DE786"/>
                                <path d="M10.8039 49.1359C8.64176 46.9737 10.9811 44.0026 17.3296 40.8476L21.3243 38.8624L22.8805 35.4575C23.7364 33.5847 25.0139 30.529 25.7193 28.6671L27.0019 25.2816L26.118 22.7762C25.0313 19.6956 24.6437 15.0662 25.3332 13.4015C26.2672 11.1467 29.3265 11.3781 30.5376 13.7951C31.4835 15.6828 31.3868 19.1013 30.2656 23.4126L29.3463 26.9471L30.156 28.3216C30.6013 29.0776 31.9021 30.8727 33.0467 32.3106L35.1978 34.9864L37.8746 34.6371C46.3782 33.5274 49.2907 35.4134 49.2907 38.1174C49.2907 41.5301 42.6136 41.8118 37.0065 37.8736C35.7449 36.9875 34.8785 36.1073 34.8785 36.1073C34.8785 36.1073 31.3658 36.8224 29.6364 37.2886C27.8512 37.7697 26.9606 38.0711 24.3455 38.9537C24.3455 38.9537 23.428 40.2862 22.8302 41.2548C20.6058 44.8586 18.0086 47.8451 16.1539 48.9321C14.0772 50.1491 11.9001 50.2321 10.8039 49.1359ZM14.1971 47.9237C15.4125 47.1726 17.8725 44.2631 19.5754 41.5627L20.2648 40.4694L17.1256 42.0478C12.277 44.4856 10.0589 46.7832 11.2123 48.173C11.8602 48.9537 12.6354 48.8889 14.1971 47.9237ZM45.6912 39.0835C46.88 38.2509 46.7075 36.5729 45.3635 35.8964C44.3176 35.3699 43.4746 35.2617 40.7575 35.3019C39.0878 35.4157 36.4029 35.7522 35.9478 35.8546C35.9478 35.8546 37.4228 36.874 38.0776 37.2487C38.9494 37.7465 41.0678 38.6708 42.6144 39.1442C44.1401 39.6112 45.0226 39.5619 45.6912 39.0835V39.0835ZM33.0279 33.8203C32.3084 33.064 31.0851 31.4855 30.3093 30.3126C29.2948 28.982 28.786 28.0432 28.786 28.0432C28.786 28.0432 28.0445 30.4284 27.4361 31.8638L25.538 36.5553L24.9877 37.6195C24.9877 37.6195 27.9133 36.6602 29.4018 36.2714C30.9784 35.8596 34.1782 35.2304 34.1782 35.2304L33.0279 33.8203ZM28.947 17.4547C29.1305 15.9147 29.2083 14.3771 28.7136 13.6016C27.3412 12.1014 25.6847 13.3525 25.9653 16.9193C26.0597 18.1192 26.3578 20.1704 26.7563 21.4347L27.4809 23.7334L27.9909 22.0021C28.2714 21.0499 28.7016 19.0036 28.947 17.4547Z" fill="white"/>
                            </svg>
                        </div>
                        <!-- /.folder-ico -->
                        <div class="folder-title">
                            ПРЕЗА NEW
                        </div>
                        <!-- /.folder-title -->
                    </a>
                    <!-- /.folder -->
                </div>
                <!-- /.desktop-grid-item -->
                <div class="desktop-grid-item"></div>
                <!-- /.desktop-grid-item -->
            </div>
            <!-- /.desktop-grid-row -->
        </div>
        <!-- /.desktop-grid -->

        <div class="note">
            <div class="note-ico">
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="38" height="38" rx="19" fill="#6DE786"/>
                    <path d="M11.5099 27V31H28.6364L23.3213 22.7143C25.5359 21.1429 27.0123 18.5714 27.0123 15.7143C27.0123 10.8571 23.026 7 18.0061 7C12.9863 7 9 10.8571 9 15.7143C9 20.5714 12.9863 24.4286 18.0061 24.4286C18.4491 24.4286 19.0396 24.4286 19.4826 24.2857L21.2543 27H11.5099ZM13.2816 15.7143C13.2816 13.1429 15.4962 11 18.1538 11C20.8113 11 23.026 13.1429 23.026 15.7143C23.026 18.2857 20.8113 20.4286 18.1538 20.4286C15.4962 20.4286 13.2816 18.2857 13.2816 15.7143Z" fill="black"/>
                </svg>
            </div>
            <!-- /.note-ico -->
            <div class="note-text">
                <div class="note-text-content" id="note"  style="white-space: pre-line;">{% verbatim %}{{ info.value }}{% endverbatim %}</div>
                <!-- /.note-text-content -->
                <div class="note-text-time">
                    1 мин назад
                </div>
                <!-- /.note-text-time -->
            </div>
            <!-- /.note-text -->
        </div>
        <!-- /.note -->
    </div>
    <!-- /.container-fluid -->
    <script  src="js/animation/lottie.js"></script>
    <script>
        // Get a reference to the container element
        var container = document.getElementById("casesFolderAnimation");

        // Set the path to your animation JSON file
        var animationPath = "/img/design/icons/cases_animation.json";
        console.log('test');
        // Load the animation using Lottie
        var anim = bodymovin.loadAnimation({
            container: container,
            renderer: "svg", // You can also use "canvas" or "html"
            loop: true, // Set to true for looping
            autoplay: true, // Set to true to automatically start the animation
            path: animationPath,
        });
    </script>
</div>
<!-- /.desktop -->