<div class="promo">
    <div class="container-fluid">
        <div class="promo-title">
            Делаем только то,<br>
            что нас драйвит:
            <span>
                Сложные задачи<br>
                Смелый креатив<br>
                Скорость
            </span>
        </div>
        <!-- /.promo-title -->
        <div class="promo-description">
            Работаем в паре «агентство + клиент»,
            потому что в коллаборации получается лучший результат.<br/>
            Мы не придумываем креатив ради креатива и всегда
            несем ответственность за свои идеи.
            Это наша суперсила.<br/><br/>

            Если вы клиент и хотите с нами работать:
        </div>
        <!-- /.promo-description -->
        <div class="promo-action">
            <a class="btn" href="mailto:dolzhenko@blacklight.ru" target="_blank">
                Отправить запрос
            </a>
        </div>
        <!-- /.promo-action -->
    {#        <div class="promo-tags">#}
    {#            <span>стратегия</span>#}
    {#            <span>креатив</span>#}
    {#            <span>пиар</span>#}
    {#            <span>инфлюенс-маркетинг</span>#}
    {#            <span>видео</span>#}
    {#            <span>новые медиа</span>#}
    {#            <span>брендинг</span>#}
    {#            <span>дизайн</span>#}
    {#        </div>#}
    {#        <!-- /.promo-tags -->#}
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.promo -->