<div class="header">
    <svg width="60" height="13" viewBox="0 0 60 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_362_4762)">
            <path d="M16.9884 2.61398V3.40425C16.4344 2.91793 15.8189 2.55319 14.7725 2.55319C12.6797 2.55319 11.0178 4.19452 11.0178 6.26139C11.0178 8.32826 12.6182 9.9696 14.7725 9.9696C16.0035 9.9696 16.619 9.48328 16.9884 9.11854V9.90881H18.7118V2.61398H16.9884ZM14.834 8.26747C13.7261 8.26747 12.8028 7.35562 12.8028 6.26139C12.8028 5.16717 13.7261 4.25531 14.834 4.25531C15.942 4.25531 16.8652 5.16717 16.8652 6.26139C16.8652 7.35562 15.942 8.26747 14.834 8.26747ZM23.3282 9.9696C22.3434 9.9696 21.4201 9.60486 20.6815 8.87537C19.2042 7.41641 19.2042 5.04559 20.6815 3.64741C21.4201 2.91793 22.3434 2.55319 23.3282 2.55319C24.313 2.55319 25.2979 2.91793 25.9749 3.64741C26.098 3.76899 26.2211 3.95136 26.3442 4.07294L24.9901 5.04559C24.9286 4.9848 24.867 4.86322 24.8054 4.80243C24.4361 4.43769 23.8822 4.19452 23.3282 4.19452C22.7742 4.19452 22.2818 4.37689 21.851 4.80243C21.0508 5.5927 21.0508 6.8693 21.851 7.65957C22.6511 8.44984 23.9437 8.44984 24.7439 7.65957C24.8054 7.59878 24.867 7.53799 24.9286 7.4772L26.2827 8.51063C26.1596 8.63221 26.098 8.75379 25.9749 8.87537C25.2363 9.60486 24.313 9.9696 23.3282 9.9696Z" fill="black"/>
            <path d="M10.279 0H8.55564V9.90894H10.279V0Z" fill="black"/>
            <path d="M36.9309 0H35.2076V9.90894H36.9309V0Z" fill="black"/>
            <path d="M3.87777 2.55319C2.83139 2.55319 2.21587 2.91793 1.6619 3.40426V0H0V9.90882H1.72345V9.11854C2.09276 9.48328 2.64673 9.96961 3.93932 9.96961C6.09364 9.96961 7.69399 8.32827 7.69399 6.2614C7.63244 4.19453 5.97053 2.55319 3.87777 2.55319ZM3.87777 8.26748C2.76984 8.26748 1.84656 7.35562 1.84656 6.2614C1.84656 5.16717 2.76984 4.25532 3.87777 4.25532C4.9857 4.25532 5.90898 5.16717 5.90898 6.2614C5.97054 7.35562 5.04726 8.26748 3.87777 8.26748ZM41.5475 11.0638V12.766H48.6876L46.4717 9.24012C47.395 8.57143 48.0105 7.4772 48.0105 6.2614C48.0105 4.19453 46.3486 2.55319 44.2558 2.55319C42.1631 2.55319 40.5012 4.19453 40.5012 6.2614C40.5012 8.32827 42.1631 9.96961 44.2558 9.96961C44.4405 9.96961 44.6867 9.96961 44.8713 9.90882L45.61 11.0638H41.5475ZM42.2862 6.2614C42.2862 5.16717 43.2094 4.25532 44.3174 4.25532C45.4253 4.25532 46.3486 5.16717 46.3486 6.2614C46.3486 7.35562 45.4253 8.26748 44.3174 8.26748C43.2094 8.26748 42.2862 7.35562 42.2862 6.2614Z" fill="black"/>
            <path d="M39.7623 2.61383H38.039V9.90862H39.7623V2.61383Z" fill="black"/>
            <path d="M38.9008 1.94553C39.4448 1.94553 39.8857 1.51001 39.8857 0.972766C39.8857 0.435522 39.4448 0 38.9008 0C38.3568 0 37.9158 0.435522 37.9158 0.972766C37.9158 1.51001 38.3568 1.94553 38.9008 1.94553Z" fill="black"/>
            <path d="M48.9338 9.90882H50.6572V5.77508C50.6572 4.92401 51.3343 4.25532 52.196 4.25532C53.0577 4.25532 53.7348 4.92401 53.7348 5.77508V9.90882H55.4583V5.77508C55.4583 4.01216 53.981 2.55319 52.196 2.55319C51.642 2.55319 51.0881 2.67477 50.6572 2.91793V0H48.9338V9.90882ZM56.32 0V6.68693C56.32 8.44985 57.7357 9.84803 59.5207 9.90882H60.3209V8.20669H59.5822C58.7205 8.20669 58.0434 7.4772 58.0434 6.68693V4.25532H60.3209V2.55319H58.0434V0H56.32Z" fill="black"/>
            <path d="M27.2675 9.90894H28.9295V7.72021L29.8527 6.86936L32.1303 9.90894H34.223L31.0836 5.6534L34.1612 2.61383H31.7609L28.9295 5.34957V0H27.2675V9.90894Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_362_4762">
                <rect width="60" height="12.766" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</div>
<!-- /.header -->