@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-Regular.eot');
  src: local('TT Hoves Regular'), local('TTHoves-Regular'),
  url('../fonts/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves-Regular.woff2') format('woff2'),
  url('../fonts/TTHoves-Regular.woff') format('woff'),
  url('../fonts/TTHoves-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves-Medium.eot');
  src: local('TT Hoves Medium'), local('TTHoves-Medium'),
  url('../fonts/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHoves-Medium.woff2') format('woff2'),
  url('../fonts/TTHoves-Medium.woff') format('woff'),
  url('../fonts/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Regular.eot');
  src: local('Atyp Display'), local('AtypDisplay-Regular'),
  url('../fonts/AtypDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AtypDisplay-Regular.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Regular.woff') format('woff'),
  url('../fonts/AtypDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Semibold.eot');
  src: local('Atyp Display Semibold'), local('AtypDisplay-Semibold'),
  url('../fonts/AtypDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AtypDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Semibold.woff') format('woff'),
  url('../fonts/AtypDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Bold.eot');
  src: local('Atyp Display Bold'), local('AtypDisplay-Bold'),
  url('../fonts/AtypDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AtypDisplay-Bold.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Bold.woff') format('woff'),
  url('../fonts/AtypDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}




